<!doctype html>
<html>
<head>
    <title>Cloud Self-Service Portal</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <style>
        body {
            padding-top: 80px;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="col-sm-6 col-sm-offset-3">
        <h1><span class="fa fa-sign-in"></span> Login</h1>

        {{ if .Error }}
        <div class="alert alert-danger">{{ .Error }}</div>
        {{ end }}

        <form id="loginForm" action="/login" method="post">
            <div class="form-group">
                <label>Benutzername</label>
                <input type="text" class="form-control" required autofocus id="username" name="username">
            </div>
            <div class="form-group">
                <label>Passwort</label>
                <input type="password" class="form-control" required id="password" name="password">
            </div>

            <button type="submit" class="btn btn-warning btn-lg">Login</button>
        </form>
        <hr>
    </div>
</div>
</body>
</html>