<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">Cloud SSP</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/openshift/editquotas"><span class="fa fa-user"></span> Quotas anpassen</a></li>
                <li><a href="/newproject"><span class="fa fa-user"></span> Projekt anlegen</a></li>
                <li><a href="/newtestproject"><span class="fa fa-user"></span> Test-Projekt anlegen</a></li>
                <li><a href="/updatebilling"><span class="fa fa-user"></span> Kontierungsnummer ändern</a></li>
                <li><a href="/newserviceaccount"><span class="fa fa-user"></span> Service-Account anlegen</a></li>
                <li><a href="/logout"><span class="fa fa-user"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>