<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/auth/" class="navbar-brand">Cloud SSP</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">OpenShift <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/auth/openshift/editquotas"><span class="fa fa-bar-chart"></span> Quotas anpassen</a></li>
                        <li><a href="/auth/openshift/newproject"><span class="fa fa-file-text"></span> Projekt anlegen</a></li>
                        <li><a href="/auth/openshift/newtestproject"><span class="fa fa-file"></span> Test-Projekt anlegen</a></li>
                        <li><a href="/auth/openshift/updatebilling"><span class="fa fa-credit-card"></span> Kontierungsnummer ändern</a></li>
                        <li><a href="/auth/openshift/newserviceaccount"><span class="fa fa-user-plus"></span> Service-Account anlegen</a></li>

                        <li><a href="/auth/openshift/newvolume"><span class="fa fa-hdd-o"></span> Persistent Volume anlegen</a></li>
                        <li><a href="/auth/openshift/growvolume"><span class="fa fa-plus-square"></span> Persistent Volume vergrössern</a></li>
                        <li><a href="/auth/openshift/fixvolume"><span class="fa fa-chain-broken"></span> Gluster Objekte neu anlegen lassen</a></li>
                    </ul>
                </li>
                <li><a href="/logout"><span class="fa fa-user"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>