{{ template "header.html" . }}

<div class="jumbotron">
    <h1><span class="fa fa-credit-card"></span> Kontierungsnummer anpassen</h1>
    <p>Hier kannst du die Kontierungsnummer deines OpenShift Projekts anpassen</p>
</div>

<form method="post">
    <div class="form-group">
        <label for="project">Projektname</label>
        <input type="text" class="form-control" required id="project" name="project" placeholder="projektname-dev">
    </div>
    <div class="form-group">
        <label for="billing">Kontierungselement</label>
        <input type="text" class="form-control" required id="billing" name="billing">
    </div>
    <button type="submit" class="btn btn-primary">Kontierungsinformation anpassen</button>
</form>

{{ template "footer.html" . }}
