<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse fixed-top">
    <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse"
            data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false"
            aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="navbar-collapse collapse" id="navbarsExampleDefault" aria-expanded="false">
        <ul class="navbar-nav mr-auto">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item" *ngFor="let navItem of navItems">
                    <a class="nav-link" [routerLink]="[navItem.routerLink]" routerLinkActive="active"
                       [routerLinkActiveOptions]="{exact: true}">{{ navItem.displayName }}</a>
                </li>
            </ul>
        </ul>
    </div>
</nav>
