<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/auth/" class="navbar-brand">Cloud SSP</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/auth/openshift/editquotas"><span class="fa fa-user"></span> Adjust Quota</a></li>
                <li><a href="/auth/openshift/newproject"><span class="fa fa-user"></span> Create Project</a></li>
                <li><a href="/auth/openshift/newtestproject"><span class="fa fa-user"></span> Create test Project</a></li>
                <li><a href="/auth/openshift/updatebilling"><span class="fa fa-user"></span> Change Account Number</a></li>
                <li><a href="/auth/openshift/newserviceaccount"><span class="fa fa-user"></span> Create Service Account</a></li>
            </ul>
        </div>
    </div>
</nav>