{{ template "header.html" . }}

<div class="jumbotron">
    <h1><span class="fa fa-lock"></span> Service Account</h1>
    <p>Here you can create a service account for your project</p>
</div>

<form method="post">
    <div class="form-group">
        <label for="project">Project Name</label>
        <input type="text" class="form-control" required id="project" name="project" placeholder="projektname-dev">
    </div>
    <div class="form-group">
        <label for="serviceaccount">Service-Account Name</label>
        <input type="text" class="form-control" required id="serviceaccount" name="serviceaccount">
    </div>
    <button type="submit" class="btn btn-primary">Create Service Account</button>
</form>

{{ template "footer.html" . }}
