<nav class="navbar navbar-default navbar-fixed-top navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <a href="/" class="navbar-brand">OpenShift Selfservice Portal</a>
        </div>
        <div>
            <ul class="nav navbar-nav">
                <li><a href="/quotas"><span class="fa fa-user"></span> Projekt Quotas anpassen</a></li>
                <li><a href="/newproject"><span class="fa fa-user"></span> Neues Projekt anlegen</a></li>
                <li><a href="/logout"><span class="fa fa-user"></span> Logout</a></li>
            </ul>
        </div>
    </div>
</nav>