<% include header %>

<div class="jumbotron">
    <h1><span class="fa fa-lock"></span> Projekt Quotas anpassen</h1>
    <p>Hier kannst du CPU / Memory Quotas deines Projektes anpassen. Alle Anpassungen werden geloggt.</p>
</div>

<form action="/quotas" method="post">
    <div class="form-group">
        <label for="projectname">Projektname</label>
        <input type="text" class="form-control" id="projectname" name="projectname" placeholder="projektname-dev">
    </div>
    <div class="form-group">
        <label for="cpu">Neue CPU Quotas [Cores]</label>
        <input type="text" class="form-control" id="cpu" name="cpu" placeholder="2">
    </div>
    <div class="form-group">
        <label for="memory">Neue Memory Quotas [GB]</label>
        <input type="text" class="form-control" id="memory" name="memory" placeholder="4">
    </div>
    <button type="submit" class="btn btn-primary">Quotas anwenden</button>
</form>

<% include footer %>
